* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #121214;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #343439;
  padding: 30px 40px;
  border-radius: 8px;
  min-width: 470px;
  color: #efefef;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  padding: 20px 0px;
  gap: 50px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.input-field input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #7336ff;
  font-size: 18px;
  border-radius: 2px;
  padding: 5px;
  color: white;
}

.input-field input:focus {
    border-bottom: 3px solid #7336ff;
}


#generate {
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    color: white;
    width: 100%;
    background: #7336ff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: filter .2s;
}

#generate:hover {
    filter: brightness(.8);
}

#result {
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}
